.required {
  color: red;
  flex: 1;
  margin-left: 5px;
}

.container {
  display: flex;
}

.allergies {
  display: none;
}

.allergy-panel {
  margin-left: 30px;
}

.allergy-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Style the custom checkboxes */
.allergy-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  margin-bottom: 20px;
}

.allergy-label p {
  margin-top: 10px;
}

/* Style the custom checkbox icon */
.allergy-label::before {
  content: '';
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: relative;
  /* position: absolute;
  left: -18px;
  top: 13px; */
}

/* Style when the checkbox is checked */
.allergies:checked + .allergy-label::before {
  content: '✓';
  font-size: 2.2rem;
  color: rgb(6, 114, 7);
  border: 1px solid rgba(0, 83, 1, 1);
  background-color: rgba(211, 249, 107, 0.85);
  transform: rotate(12deg);
  position: absolute;
  left: 8%;
  top: -5%;
  width: 40px;
  height: 40px;
}

label {
  text-align: center;
}
