body, h1, h2, h3, p, ul, li, input, label, button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}
.meal-plan-form {
  /* Add background color, font styles, and other global styles here */
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

/* All labels container */
label {
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  /* Add other container styles here */
}

/* White */
label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

/* Gray squared margin */
:checked+label {
  border-color: #ddd;
}

/* Lavender circle */
:checked+label::before {
  content: "✓";
  background-color: #cea0e4;
  transform: scale(1);
}

